#nwg-controls {
    background-color: @theme_bg_color;
    border-radius: 10px;
    padding: 2px 10px;
}

.nwg-menu-item {
    padding: 0 8px;
    color: @text_color;
    transition: all 0.3s ease;
}

.nwg-menu-item:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

#custom-exit {
    color: @warning_color;
}

